        * {
            box-sizzing:border-box;
        }
        body {
           background:url(photos/7481.jpg) no-repeat ;
           background-size:cover; 
        }
        #main{
            width:100%; 
            height: 100%;
            float:left;
        }
        .pawns{
            width:30px;
            height:30px;
            border-radius:20px;
            position:absolute;
        }
        #board{
            background:url(photos/ludo2.jpg) no-repeat;
            background-size:cover;
            width:1180px;
            height:760px;
            float:left;
            margin-top:8px;
            margin-left: 8px;
            margin-right: 8px;
        }
        #uselesstext1{
            padding-left:10px;
            padding-right:10px;
        }

        footer{
            font-size:larger;
            color:darkred;

        }
        .check {
            margin-top:10vh;
            margin-left: 65vw;
            margin-bottom: 10vh;
        }